html,
body
{
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
}

.img-circle
{
    border-radius: 50%;
}

.headshot
{
    width: 115px;
    height: 115px;
}

.brand
{
    font-size: 2em;

    margin-bottom: 0;
}

.text-center
{
    text-align: center;
}

.meta
{
    font-size: .8rem;
    font-weight: 300;
}

pre
{
    padding: 1px;

    tab-size: 2;
}


.hljs {
    white-space: pre;
    
    overflow-x: auto; /* no line wrapping */
}

pre code, li code, td code, code
{
    border-radius: 4px;
    white-space: pre-wrap;
    padding:1px 4px;
	background: #eee;
	/* color: #444; */
	border: 1px solid #d9d9d9;
}

code {
    font-family: 'Roboto Mono', monospace;
    font-size: 90%;
}
.copyright, 
.poweredby
{
    font-size: 13px;
    font-weight: 300;
}

.center
{
    display: block;

    margin-right: auto;
    margin-left: auto;
}
/* Changing from font-awesome 4 to 5, the class pull-right was removed */
.pull-right {
    float: right;
}

/* CUSTOM STUFF */
/* Dark */
.theme-base-dark .sidebar {
    background-color: #252525;
}
.theme-base-dark .content a,
.theme-base-dark .related-posts li a:hover {
    color: #0044cc;
}

/* Dark Blue */
.theme-base-darkblue .sidebar {
    background-color: #062F4F;
}
.theme-base-darkblue .content a,
.theme-base-darkblue .related-posts li a:hover {
    color: #0044cc;
}

/* Metal */
.theme-base-metal .sidebar {
    background-color: #233237;
}
.theme-base-metal .content a,
.theme-base-metal .related-posts li a:hover {
    color: #0044cc;
}

.sidebar-about .lead{
    display: none;
}

@media (min-width: 48em) {
    .brand
    {
        font-size: 2.6em;
    }
    .sidebar-about .lead{
        display: block;
    }
    .sidebar-nav-toggle {
        display: none;
    }
    /* show in full view even if not checked */
    #sidebar-nav-checkbox:not(checked) ~ .sidebar-nav {
        display: block;
    }
}

/* Sidebar nav collapsing menu */
#sidebar-nav-checkbox {
    position: absolute;
    left: -100vw; /* hide offscreen */
}

.sidebar-nav-toggle {
    font-size: 1.4em;
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sidebar-nav {
    display: none;
}

#sidebar-nav-checkbox:checked ~ .sidebar-nav {
  display: block;
}

#sidebar-nav-checkbox:checked ~ .sidebar-nav-toggle {
    margin-bottom: 0rem;
}

#sidebar-nav-checkbox:checked ~ .sidebar-nav-toggle .fa-angle-down{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
  
