{{ define "header" }}
    {{ partial "page-single/variables-init.html" . }}
    {{ partial "header.html" . }}
{{ end }}

{{ define "content" }}
<article>
    <header>
      <h1>{{ .Title }}</h1>
      {{ with .Params.subtitle }}
      <span class="post__subtitle">
        {{.}}
      </span>
      {{ end }} 
      {{ partial "page-single/post-meta.html" . }}
    </header>
    <div class="search-form">
        <form action="{{ "search" | absURL }}">
            <input id="search-query" type="text" autofocus="autofocus" name="s"/>
        </form>
        <div id="search-results">
            <h3>Results</h3>
        </div>
    </div>
  </article>
{{ end }}

{{ define "footer" }}
    {{ partial "page-single/footer.html" . }}
    {{ partial "page-single/variables-deinit.html" . }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.2/lunr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
    <script src="{{ "js/search.js" | absURL }}"></script>
    <!-- this template is sucked in by search.js and appended to the search-results div above. So editing here will adjust style -->
    <script id="search-result-template" type="text/x-js-template">
        <div id="summary-${key}">
        <h4><a href="${link}">${title}</a></h4>
        <p>${snippet}</p>
        ${ isset tags }<p>Tags: ${tags}</p>${ end }
        ${ isset categories }<p>Categories: ${categories}</p>${ end }
        </div>
    </script>
{{ end }}
